doctype html
html
	head
		title Main Page
	body
		h1 Trivia Creator Main Page
		
		a(href="http://localhost:3000/questions/")="Browse Questions"
		br
		br
		a(href="http://localhost:3000/quizzes/")="Browse Quizzes"
		br
		br
		a(href="http://localhost:3000/createquiz/")="Create a Quiz"
		
		